$max-width: 1100px;
$woolard-red: #AD1F24;
$woolard-orange: #E65A26;

* {}

*:after,
*:before {}

body,
html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.container--main {
  flex: 1 0 auto;
}

.max-width {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

.full-width {
  position: relative;
  width: calc(100vw - (100vw - 100%));
  max-width: calc(100vw - (100vw - 100%));
  left: 50%;
  transform: translateX(-50%);

  &--header {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
}

.wrapper--header {
  border-bottom: 1.5px solid #F0F0F0;
}

.header {
  position: relative;
  height: 6em;
  max-width: $max-width;
  margin: 0 auto;
  background-color: white;
  z-index: 800;
  display: flex;
  box-sizing: border-box;
  padding: 1em;

  &__logo {
    flex: 0;
    user-select: none;
    height: 100%;

    &__image {
      width: auto;
      height: 100%;
    }
  }

  &__nav {
    flex: 1;
    user-select: none;
    height: 100%;

    &__button {
      display: none;
    }

    &__menu {
      position: relative;
      height: 100%;
      user-select: none;
      margin: 0;
      padding: 0;
      height: auto;
      display: flex;
      flex-direction: row;
      top: 50%;
      transform: translateY(-50%);
      justify-content: flex-end;

      &__entry {
        position: relative;
        height: initial;
        font-family: Oswald-Light;
        flex: 0;
        font-size: 1em;
        letter-spacing: 1px;
        color: black;
        list-style: none;
        text-decoration: none;
        margin: 1em;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: black;
        }

        li {
          white-space: nowrap;
          text-align: right;
        }
      }
    }
  }
}

.clearer {
  clear: both;
}

.landing {
  position: relative;
  display: block;
  height: 0;
  padding-top: 60vh;
  background: transparent;
  background-size: cover;
  background-attachment: bottom;
  background-position: bottom;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.02) 57%, rgba(0, 0, 0, 0) 62%);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .8);
}

.launch {
  height: 12.5rem;
  background-image: url("../img/blueskywithsun.jpg");
  background-size: cover;
  position: relative;

  .display-width {
    .max-width {
      .launch__body {
        position: absolute;
        bottom: 0;
        padding-bottom: 1rem;

        h2,
        h5 {
          color: white;
          text-align: left;
          max-width: 66ch;
          text-shadow: 2px 2px 6px #000000;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}

.values {
  &__thumbnails {
    position: relative;
    display: inline;
    overflow: auto;

    &__entry {
      position: relative;
      display: inline;
      overflow: auto;

      .value {
        display: block;
        height: 0;
        padding-top: 20%;
        overflow: hidden;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 90%, 40% 90%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 90%, 40% 90%, 0 90%);
        transition: all 0.3s ease-in;
        position: relative;
        margin-bottom: -2%;

        .text {
          position: absolute;
          bottom: 0;
          padding-bottom: 5%;
          color: white;
          text-shadow: 2px 2px 8px #000000;
          text-align: left;

          h6 {
            height: 3rem;
            padding-bottom: 0;
            margin-top: -0.5em;
            padding-top: 0;
          }
        }

        .gradient {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
        }

        .background {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background-size: cover;
          background-origin: border-box;
          background-repeat: no-repeat;
          -webkit-filter: grayscale(70%);
          filter: grayscale(70%) contrast(90%) brightness(90%);
          -webkit-transition: -webkit-filter 500ms ease-in;
          transition: -webkit-filter 300ms ease-in;
        }
      }

      &#first {
        .value {
          .gradient {
            background: -moz-linear-gradient(top, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
            background: -webkit-linear-gradient(top, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
            background: linear-gradient(to bottom, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
          }

          .background {
            background-image: url("../img/people_opt.jpg");
          }
        }
      }

      &#second {
        .value {
          .gradient {
            background: -moz-linear-gradient(top, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
            background: -webkit-linear-gradient(top, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
            background: linear-gradient(to bottom, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
          }

          .background {
            background-image: url("../img/startup-collaboration_opt.jpg");
          }
        }
      }

      &#third {
        .value {
          .gradient {
            background: -moz-linear-gradient(top, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
            background: -webkit-linear-gradient(top, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
            background: linear-gradient(to bottom, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
          }

          .background {
            background-image: url("../img/chess-strategy_opt.jpg");
          }
        }
      }

      &.active,
      &:hover {
        .value {
          .background {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            -webkit-transition: -webkit-filter 300ms ease-out;
            transition: -webkit-filter 300ms ease-out;
          }
        }
      }
    }

    &__entry.active {
      .value {
        overflow: visible;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
        transition: all 0.3s ease-in;
        margin-bottom: initial;
        margin-bottom: 0;
      }
    }
  }

  &__content {
    &__entry {
      margin: 0;
      padding: 0;
      display: block;
      height: auto;

      .text {
        display: none;
        padding-bottom: 1em;

        h2 {
          margin-top: 0;
          padding-top: 0;
        }

        p {}

        .rounded {
          position: relative;
          display: block;
          margin: 0.5rem 0 0 2rem;
          font-family: Oswald-Bold;
          font-size: 1.25rem;
          text-align: center;
          width: 6rem;
          color: white;
          padding: 0.55em 2em;
          background: #202020;
        }

        a {
          display: table;
          padding: 0.55em 2em;
          background: #202020;
          color: white;
          margin: 0 auto;
          position: relative;
          font-size: 1.25em;
          font-family: Oswald-Bold;
          cursor: pointer;
        }
      }

      &.active {
        .text {
          height: auto;
          display: block;
        }
      }
    }

    &__entry.active {
      &__text {
        height: auto;
        display: block;
      }
    }
  }
}

.wrapper--services {
  display: block;
  background: #F8F8FF;

  h2 {
    text-align: center;
  }

  p {
    margin: 0 auto;
    text-align: center;
    max-width: 66ch;
  }

  hr {
    display: block;
    margin: 1.5em auto;
    width: 65%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

  .services {
    display: block;
    width: 100%;
    text-align: center;

    .services-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 auto;
      padding-left: 5%;

      li {
        text-align: left;
        font-size: 1em;
        flex: 1 0 25%;
        box-sizing: border-box;
        padding: 0.75em 0.5em;

        .service-icon i {
          padding: 0 0.1em;
          text-align: center;
        }

        .service-name h4 {
          display: inline;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .button {
    margin: 0 auto;
    position: relative;
    padding: 1em 0;
  }

  .services-cta {
    display: table;
    padding: 0.55em 2em;
    background: #202020;
    color: white;
    margin: 0 auto;
    position: relative;
    //border-radius: 0.5em;
    font-size: 1.25em;
    font-family: Oswald-Bold;
    cursor: pointer;
  }
}

.wrapper--testimonials {
  .testimonials {
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    max-width: $max-width;

    &__entry {
      display: flex;
      box-sizing: border-box;

      &.active {}

      &__photo {
        flex: 1;
        height: 100%;

        img {
          border-left: 6px solid $woolard-red;
          height: 100%;
          height: 11em;
          display: block;
        }
      }

      &__description {
        flex: 4;

        .quote-icon {
          position: relative;
          display: inline;
          background: red;
          width: 5%;
          height: auto;
          margin: 0;

          i {}
        }

        &__quote {
          box-sizing: border-box;
          position: relative;
          padding: 1.75em 2.5em 1em;
          line-height: 2em;

          &:before {
            font-family: "Font Awesome 5 Free";
            content: "\f10d";
            font-size: 1.5em;
            font-weight: 900;
            color: black;
            position: absolute;
            top: 0.5em;
            left: 0.5em;
          }

          p {
            display: inline-block;
          }
        }

        &__author {
          padding: 0 2.75em;

          &__name {
            font-family: LiberationSans-Bold;
          }

          &__company-position {
            font-family: LiberationSans-Italic;
          }
        }
      }
    }
  }
}

.wrapper--contact {
  background: #DDDDDD;
  position: relative;
  flex-shrink: 0;
  margin-top: auto;

  .contact {
    display: block;
    margin: 0 auto;
    padding: 0.5em 1em;
    box-sizing: border-box;

    &__title {
      display: block;
      padding: 0;
    }

    &__form {
      display: flex;

      &__section {
        width: 50%;
        display: inline;
        float: none;
        flex: 1;
        width: 50%;
        font-size: 1.25rem;

        &--left {
          padding-right: 0.25em;
        }

        &--right {
          padding-left: 0.25em;
        }

        &__field {
          border: medium none !important;
          margin: 0;
          padding: 0;
          height: 3em;

          &__text {
            height: 5em;
            resize: none;
          }

          &__button,
          &__input,
          &__text {
            height: 2.5em;
            background: #EFEFEF;
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 0.5em;
            padding: 0.75em 0 0.75em 0.75em;
            border: 1px solid #DDD;
          }

          &--text {
            height: 6em;
          }

          &__text {
            height: 5.5em;
          }

          &__button:hover,
          &__input:hover,
          &__text:hover {
            -webkit-transition: border-color 0.3s ease-in-out;
            -moz-transition: border-color 0.3s ease-in-out;
            transition: border-color 0.3s ease-in-out;
            border: 1px solid #AAA;
          }

          &__button:hover {
            background: #707070;
            color: white;
            -webkit-transition: background 0.2s ease-in-out;
            -moz-transition: background 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;
          }

          &__button:active {
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          }

          &__input:focus,
          &__text:focus {
            outline: 0;
            border: 1px solid #999;
          }
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  display: block;
  position: relative;

  .content {
    section {}

    &__landing {
      width: 100vw;
      max-width: 100vw;
      position: relative;
      display: block;
      height: 0;
      padding-top: 80vh;
      background: transparent;
      background-size: cover;
      background-attachment: bottom;
      background-position: bottom;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.02) 57%, rgba(0, 0, 0, 0) 62%);
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .8);

      &.parallax-window {
        background: black;
      }
    }
    /* Launch */
  }
}

.wrapper--footer {
  width: calc(100vw - (100vw - 100%));
  max-width: calc(100vw - (100vw - 100%));
  background-color: #434343;
  color: white;
  position: relative;
  flex-shrink: 0;
  margin-top: auto;
}

.footer {
  display: flex;
  box-sizing: border-box;
  max-width: $max-width;
  margin: 0 auto;
  font-family: Oswald-Light;
  letter-spacing: 0.5px;

  &__entry {
    display: inline;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 1em 0.5em;

    &--left {
      flex-basis: auto;
    }

    &--right {
      margin-left: auto;
    }

    &:first-of-type {
      font-family: Oswald-Regular;
      font-size: 1em;
      padding: 1em 0.5em 1em 1em;
    }

    &:last-of-type {
      padding: 1em 1em 1em 0.5em;
    }

    li {
      display: inline-block;
      padding: 0 0.15em;
    }
  }
}

:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  color: #888;
}
@media only screen and (max-width: 1100px) {
  .wrapper--services {
    h2 {}

    p {}

    hr {}

    .services {
      text-align: center;

      .services-list {
        margin: 0 auto;
        width: 600px;
        padding-left: 7.5%;
        box-sizing: border-box;

        li {
          text-align: left;
          font-size: 1em;
          flex: 1 0 50%;
          box-sizing: border-box;
          padding: 0.25em 0.15em;
          white-space: nowrap;

          .service-icon i {
            padding: 0 0.1em;
            text-align: center;
          }

          .service-name h4 {
            display: inline;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .button {}

    .services-cta {}
  }
}
@media only screen and (max-width: 768px) {
  body {}

  .max-width {
    .full-width {
      &--header {}
    }
  }

  .header {
    height: 5em;
    z-index: 800;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    &__logo {
      &__image {}
    }

    &__nav {
      &__button {
        display: inline-block;
        position: absolute;
        font-size: 2rem;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        padding: 0.75em;
        z-index: 900;
        cursor: pointer;
      }

      &__menu {
        flex: none;
        position: absolute;
        display: inline-block;
        margin: 0;
        padding: 0;
        top: 5em;
        width: 100vw;
        max-width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;

        &__entry {
          margin: 0;
          display: block;
          position: relative;
          text-align: center;
          color: #A7A9AB;
          padding: 1em 0;
          font-size: 1.25rem;
          border-bottom: 1.5px solid #F0F0F0;
          text-decoration: none;
          list-style: none;

          li {
            text-align: center;
          }

          &:last-of-type {
            border-bottom: none;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          }
        }
      }
    }
  }

  .wrapper--services {
    h2 {
      text-align: left;
    }

    p {
      text-align: left;
    }

    hr {
      display: block;
      margin: 1.5em auto;
      width: 95%;
      border: 0;
      height: 1px;
    }

    .services {
      text-align: center;

      .services-list {
        margin: 0 auto;
        width: 100%;
        padding: 0.25rem 2rem;
        box-sizing: border-box;

        li {
          text-align: left;
          font-size: 1em;
          flex: 1 0 50%;
          box-sizing: border-box;
          padding: 0.25em 0.15em;
          white-space: nowrap;

          .service-icon i {
            padding: 0 0.1em;
            text-align: center;
          }

          .service-name h4 {
            display: inline;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .button {}

    .services-cta {}
  }

  .wrapper--testimonials {
    .testimonials {
      &__entry {
        display: block;

        &.active {}

        &__photo {
          display: block;
          width: 100%;
          margin: 0 auto;

          img {
            width: 10em;
            height: auto;
            margin: 0 auto;
          }
        }

        &__description {
          display: block;

          &__quote {
            padding: 0 0 0 2.5em;

            &:before {
              top: 0.75em;
            }

            p {}
          }

          &__author {
            &__name {}

            &__company-position {}
          }
        }
      }
    }
  }

  .wrapper--contact {
    box-sizing: border-box;
    bottom: 0;

    .contact {
      box-sizing: border-box;
      padding: 0.5em 1em;

      &__title {}

      &__form {
        display: block;

        &__section {
          width: 100%;
          display: inline-block;
          float: none;
          margin: 0;
          padding: 0;
          flex: 1;
          font-size: 1em;

          &--left {
            padding-right: 0;
          }

          &--right {
            padding-left: 0;
          }

          &__field {
            border: medium none !important;

            &__text {
              height: 5.5em;
              resize: none;
            }

            &__button,
            &__input,
            &__text {
              margin-bottom: 0.5em;
              padding: 0.75em 0 0.75em 0.75em;
            }

            &__button {
              font-size: 1rem;
              padding: 0.75em 0 0.75em 0.75em;
            }

            &__button:hover {
              background: #707070;
              color: white;
              -webkit-transition: background 0.2s ease-in-out;
              -moz-transition: background 0.2s ease-in-out;
              transition: background-color 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }

  .wrapper--footer {
    width: calc(100vw - (100vw - 100%));
    max-width: calc(100vw - (100vw - 100%));
    background-color: #434343;
    color: white;
    position: relative;
    flex-shrink: 0;
    margin-top: auto;
  }

  .footer {
    display: block;
    box-sizing: border-box;
    max-width: $max-width;
    margin: 0 auto;
    font-family: Oswald-Light;
    letter-spacing: 0.5px;

    &__entry {
      box-sizing: border-box;
      padding: 0.25em 1em;
      display: block;
      width: 100%;

      &--left {}

      &--right {}

      &:first-of-type {
        padding: 1em 1em 0.25em;
      }

      &:last-of-type {
        padding: 0.25em 1em 1em;
      }

      li {}
    }
  }
}
@media only screen and (max-width: 768px) {
  .launch {
    position: relative;
    display: block;
    height: auto;
    width:100%;
    margin: 0;
    overflow-y: auto;

    .launch__body {
      color: white;
      position: relative;
      bottom: initial;
      top: 0;
      padding-bottom: 0;
      transform: translate(0, 0);

      h2,
      h5 {
        font-size: 1.5rem;
      }
    }
  }
}
/* Contact // Contact // Contact // Contact // Contact // Contact // Contact //  */
.absolutely-centered {
  position: relative;
  display: inline;
  width: 100%;
  margin: 0 auto;
}

.absolutely-centered .to-be-centered {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-shadow: 3px 3px 6px #000000;
}

section#launch h3 {
  white-space: nowrap;
}

.to-be-centered p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: Oswald-Bold;
}

section {}

.one-third {
  width: 33.33%;
  width: calc(100% / 3);
  float: left;
}

.one-sixth {
  width: 16.67%;
  width: calc(100% / 6);
  float: left;
}
@media only screen and (max-width: 768px) {
  .one-sixth {
    width: 16.67%;
    width: calc(100% / 6);
    float: leftc;
  }
}
@media only screen and (max-width: 480px) {
  .wrapper--services {
    h2 {}

    p {}

    hr {
      display: block;
      margin: 1.5em auto;
      width: 95%;
      border: 0;
      height: 1px;
    }

    .services {
      .services-list {
        margin: 0 auto;
        width: 100%;
        padding: 0.25rem 2rem;
        box-sizing: border-box;

        li {
          text-align: left;
          font-size: 1em;
          flex: 1 0 100%;
          box-sizing: border-box;
          padding: 0.25em 0.15em;
          white-space: nowrap;

          .service-icon i {
            padding: 0 0.1em;
            text-align: center;
          }

          .service-name h4 {
            display: inline;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .button {}

    .services-cta {}
  }
}

.aspect-ratio-4-3 {
  height: 0;
  margin: 0;
  padding-top: 25%;
}

.aspect-ratio-16-9 {
  height: 0;
  padding-top: 56.25%;
}

.aspect-ratio-c {
  height: 0;
  padding-top: 30%;
}
