//main:../wm-styles.scss
// base.scss

.button {
  &__container {
    position: relative;
    margin: 2;
  }
  text-decoration: none;
  position: relative;
  display: table;
  margin: 0 auto;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &--box {
    padding: 1rem 2rem;
  }

  &--black {
    background: #202020;
    color: white;
  }

  &--orange {
    background: $orange-base;
    color: white;
  }

  &--red {
    background: $red-base;
    color: white;
    &:hover {
      background: $red-hi;
    }
  }
}
