//main:../wm-styles.scss
// contact.scss
@media screen and (min-width:50px) {
  .contact {
    background-color: #DDDDDD;

    &__container {
      position: relative;
    }

    &__form {
      &__section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        margin: 0.5rem 0;
        height: 48rem;

        fieldset {}

        &__field {
          padding: 0.5rem 0;
          width: 100%;
          height: 6rem;
          flex: 0 1 6rem;
          overflow: hidden;

          &--name {
            order: 1;
          }

          &--email {
            order: 2;
          }

          &--phone {
            order: 3;
          }

          &--company {
            order: 5;
          }

          &--text {
            order: 6;
            flex: 1 1 12rem;
            height: 12rem;
          }

          &--submit {
            order: 8;
          }

          &--break {
            order: 4;
            flex: 0 1 6rem;
            visibility: hidden;
            display: none;
          }
        }
      }
    }

    button,
    input,
    textarea {
      letter-spacing: 1.15px;
      font-size: 1.75rem;
      background: #EFEFEF;
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      padding: 1rem;
      border: 1px solid #DDD;
    }

    fieldset {}

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    textarea {}

    input[type="text"],
    textarea {}

    button:hover,
    input:hover,
    textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #AAA;
    }

    textarea {
      resize: none;
    }

    button[type="submit"] {
      width: 100%;
      cursor: pointer;
      border: 1px solid #DDD;
      background: #EFEFEF;
      color: #888;
    }

    button[type="submit"]:hover {
      background: #707070;
      color: white;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      transition: background-color 0.2s ease-in-out;
    }

    button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    input:focus,
    textarea:focus {
      outline: 0;
      border: 1px solid #999;
    }

    ::-webkit-input-placeholder {
      color: #888;
    }

    :-moz-placeholder {
      color: #888;
    }

    ::-moz-placeholder {
      color: #888;
    }

    :-ms-input-placeholder {
      color: #888;
    }
  }
}
@media screen and (min-width:768px) {
  .contact {
    &__container {}

    &__form {
      &__section {
        padding-right: 1rem;
        height: 24rem;
        gap: 0 1rem;

        &__field {
          width: 50%;
          height: 6rem;
          flex: 0 1 6rem;

          &--name {
            order: 1;
          }

          &--email {
            order: 2;
          }

          &--phone {
            order: 3;
          }

          &--company {
            order: 5;
          }

          &--text {
            order: 6;
            flex: 1 0 auto;
            height: 12rem;
          }

          &--submit {
            order: 7;
          }

          &--break {
            order: 4;
            flex-basis: 6rem;
            visibility: visible;
            display: block;
          }
        }
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="url"],
      textarea,
      button[type="submit"],
       {}
    }
  }
}
@media screen and (min-width:1024px) {}
