//main:../wm-styles.scss
// font.scss

@font-face {
	font-family: Oswald-Bold;
	src: url(../../font/Oswald/Oswald-Bold.ttf);
}

@font-face {
	font-family: Oswald-ExtraLight;
	src: url(../../font/Oswald/Oswald-ExtraLight.ttf);
}

@font-face {
	font-family: Oswald-Light;
	src: url(../../font/Oswald/Oswald-Light.ttf);
}

@font-face {
	font-family: Oswald-Medium;
	src: url(../../font/Oswald/Oswald-Medium.ttf);
}

@font-face {
	font-family: Oswald-Regular;
	src: url(../../font/Oswald/Oswald-Regular.ttf);
}

@font-face {
	font-family: Oswald-SemiBold;
	src: url(../../font/Oswald/Oswald-SemiBold.ttf);
}

@font-face {
	font-family: Raleway-Black;
	src: url(../../font/Raleway/Raleway-Black.ttf);
}

@font-face {
	font-family: Raleway-Bold;
	src: url(../../font/Raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: Raleway-ExtraBold;
	src: url(../../font/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
	font-family: Raleway-Light;
	src: url(../../font/Raleway/Raleway-Light.ttf);
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../../font/Raleway/Raleway-Medium.ttf);
}

@font-face {
	font-family: Raleway-Regular;
	src: url(../../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url(../../font/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: Raleway-Thin;
	src: url(../../font/Raleway/Raleway-Thin.ttf);
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../../font/Raleway/Raleway-Medium.ttf);
}
@font-face {
	font-family: LiberationSans-Regular;
	src: url(../../font/LiberationSans/LiberationSans-Regular.ttf);
}
@font-face {
	font-family: LiberationSans-Bold;
	src: url(../../font/LiberationSans/LiberationSans-Bold.ttf);
}
@font-face {
	font-family: LiberationSans-BoldItalic;
	src: url(../../font/LiberationSans/LiberationSans-BoldItalic.ttf);
}
@font-face {
	font-family: LiberationSans-Italic;
	src: url(../../font/LiberationSans/LiberationSans-Italic.ttf);
}
