//main:../wm-styles.scss
// _landing.scss
@media screen and (min-width:50px) {
  .landing {
    &__hero {
      width: 100%;
      position: relative;
      height: 50vh;
      overflow: hidden;
      z-index: 250;

      .img-fluid {
        img {}
      }

      &__headline {
        position: absolute;
        width: 100%;
        bottom: 0;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 2.25em;
      }
    }

    &__goals {
      width: 100%;
      position: relative;
      bottom: 0;
      z-index: 250;
      padding: 5rem 0;

      &__headline {
        font-size: 2.25em;

        h1 {}
      }

      &__subtitle {
        position: relative;
        top: 0;
        padding: 0 5rem;

        h3 {
          padding-top: 1.25rem;
          margin: 0;
          font-size: 1.75rem;
          max-width: 66ch;
        }
      }
    }
  }

  .ideas {
    background: $background-gray;

    &__container {}

    &__entry {
      display: flex;
      flex-direction: column;
      gap: 0 5rem;
      align-items: center;

      &__media {
        flex: 1 0 5%;
        width: 100%;

        .aspect-img {
          position: relative;
          width: 100%;
          padding-top: calc(4 / 3 * 100%);
          overflow: hidden;
          /* 16:9 Aspect Ratio */
          .img-fluid {
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
          }
        }
      }

      &__text {
        flex: 1 0 100%;
        text-align: left;
      }
    }
  }

  .works {
    background: $background-gray;

    &__container {}

    &__headline {
      display: block;
      width: 100%;
    }

    &__grid {
      &__container {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
      }
      width: 100%;
      flex: 1 0 100%;
      display: block;

      &--left {
        padding-right: 0rem;
      }

      &--right {
        padding-left: 0rem;
        margin-top: 0rem;
      }

      &__entry {
        display: block;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;

        &__media {
          width: 100%;

          .aspect-img {
            position: relative;
            width: 100%;
            padding-top: calc(4 / 3 * 100%);
            overflow: hidden;
            /* 16:9 Aspect Ratio */
            .img-fluid {
              width: 100%;
              position: absolute;
              object-fit: cover;
              top: 0;
            }
          }
        }

        &__text {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
@media screen and (min-width:768px) {
  &__hero {
    .img-fluid {
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    &__headline {}
  }

  &__goals {
    &__headline {
      h1 {}
    }

    &__subtitle {
      h3 {}
    }
  }

  .ideas {
    background: $background-gray;

    &__container {}

    &__entry {
      display: flex;
      flex-direction: row;
      gap: 0 5rem;
      align-items: center;

      &__media {
        flex: 1 0 50%;

        .aspect-img {
          position: relative;
          width: 100%;
          padding-top: calc(4 / 3 * 100%);
          overflow: hidden;
          /* 16:9 Aspect Ratio */
          .img-fluid {
            width: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
          }
        }
      }

      &__text {
        flex: 1 1 50%;
        text-align: center;
      }
    }
  }

  .works {
    background: $background-gray;

    &__container {}

    &__headline {
      display: block;
      width: 100%;
    }

    &__grid {
      &__container {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
      }
      width: 50%;
      flex: 1 0 50%;
      display: block;

      &--left {
        padding-right: 2.5rem;
      }

      &--right {
        padding-left: 2.5rem;
        margin-top: 10rem;
      }

      &__entry {
        display: block;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5rem;

        &__media {
          width: 100%;

          .aspect-img {
            position: relative;
            width: 100%;
            padding-top: calc(4 / 3 * 100%);
            overflow: hidden;
            /* 16:9 Aspect Ratio */
            .img-fluid {
              width: 100%;
              position: absolute;
              object-fit: cover;
              top: 0;
            }
          }
        }

        &__text {
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
@media screen and (min-width:1024px) {}
