section.wm-values {}
section.wm-values a .value {
	height: 0;
	padding-top: 20%;
	overflow: hidden;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 90%, 40% 90%, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 60% 90%, 50% 90%, 40% 90%, 0 90%);
	transition: all 0.3s ease-in;
	position: relative;
	margin-bottom:-2%;
}
section.wm-values a.active span.value{
	overflow: visible;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
	transition: all 0.3s ease-in;
	margin-bottom:initial;
}
section.wm-values a span.value div.text {
	position: absolute;
	bottom: 0;
	padding-bottom: 5%;
	color: white;
	text-shadow: 2px 2px 8px #000000;
	text-align: left;
}

section.wm-values a span.value div.text h6 {
	height: 3rem;
	padding-bottom:0;
	margin-top:-0.5em;
	padding-top:0;
}

section.wm-values a span.value div.gradient {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

section.wm-values a#first span.value div.gradient {
	background: -moz-linear-gradient(top, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(149, 107, 44, 0.1) 1%, rgba(149, 107, 44, 0.1) 33%, rgba(149, 107, 44, 0.2) 66%, rgba(149, 107, 44, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a956b2c', endColorstr='#4d956b2c', GradientType=0);
}

section.wm-values a#second span.value div.gradient {
	background: -moz-linear-gradient(top, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(121, 44, 149, 0.1) 1%, rgba(121, 44, 149, 0.1) 33%, rgba(121, 44, 149, 0.2) 66%, rgba(121, 44, 149, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a792c95', endColorstr='#4d792c95', GradientType=0);
}

section.wm-values a#third span.value div.gradient {
	background: -moz-linear-gradient(top, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
	background: -webkit-linear-gradient(top, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
	background: linear-gradient(to bottom, rgba(37, 115, 216, 0.1) 1%, rgba(37, 115, 216, 0.1) 33%, rgba(37, 115, 216, 0.2) 66%, rgba(37, 115, 216, 0.3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2573d8', endColorstr='#4d2573d8', GradientType=0);
}

section.wm-values a span.value div.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-size: cover;
	background-origin: border-box;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(70%);
	filter: grayscale(70%) contrast(90%) brightness(90%);
	-webkit-transition: -webkit-filter 500ms ease-in;
	transition: -webkit-filter 300ms ease-in;
}

section.wm-values a.active span.value div.background,
section.wm-values a:hover span.value div.background {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 90%, 55% 90%, 50% 100%, 45% 90%, 0 90%);
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: -webkit-filter 300ms ease-out;
	transition: -webkit-filter 300ms ease-out;
}

section.wm-values a#first span.value div.background {
	background-image: url(../img/people_opt.jpg);
}

section.wm-values a#second span.value div.background {
	background-image: url(../img/startup-collaboration_opt.jpg);
}

section.wm-values a#third span.value div.background {
	background-image: url(../img/chess-strategy_opt.jpg);
}

@media only screen and (max-width: 1024px) {
	section.wm-values a .value .text {
		position: absolute;
		left:0;
		bottom:0;
		padding-bottom: 0;
		color: white;
		text-shadow: 2px 2px 8px #000000;
		width:auto;
		max-width:95%;
	}
	section.wm-values a .value .text h2 {
	}
	section.wm-values a .value .text h6 {
		height:1em;
		padding-bottom:2em;
		margin-top:-0.5em;
		padding-top:0;
	}
}

@media only screen and (max-width: 768px) {
	section.wm-values {}
	section.wm-values a .value {
	padding-top: 25%;
	margin-bottom:-2.5%;
}
	section.wm-values a .value .text {
		position: absolute;
		left:0;
		bottom:0;
		padding-bottom: 0;
		text-align:left;
		color: white;
		text-shadow: 2px 2px 8px #000000;
	}
	section.wm-values a .value .text h2 {
		margin:0 0;
		padding: 0 0;
		bottom:0;
		font-size:1.25em;
		line-height:1em;
  	letter-spacing: 1px;
		padding:0.5em 0.5em;
		
	}
	section.wm-values a .value .text h6 {
		display:none;
	}
	.values-content .active .values-text {
		display:none;
	}
}
div.values-content {
}
div.values-content > div{
	margin:0;
	padding:0;
	display: block;
	height:auto;
}div.values-content div.active{
}


div.values-content div.values-text{
	display: none;
	padding-bottom: 1em;
}
div.values-content div.values-text h2 {
	margin-top:0;
	padding-top:0;
}
div.values-content div.active div.values-text {
	height:auto;
	display: block;
}

.values-text a {
	position: relative;
	display: block;
	font-family: Raleway-Medium;
	font-size: 1.25rem;
	line-height: 1.5rem;
	text-align: center;
	width: 8rem;
	height: 1.5rem;
	padding: 0.5rem 1rem;
	color: white;
	margin: 0.5rem 0 0 2rem;
}